<fieldset>
    <div class="previous title_text">
      <!-- <a href="<%=base%>/categoryPage1" class=""> -->
      <a href="#_" class="">
        <i class="fa fa-angle-left"></i> Back
      </a>
      <h2>Platform</h2>
    </div>
    <!--  <h2 class="fs-title"></h2> -->
    <div class="row">
      <div class="col-lg-4">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Web <br>App</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" value="<%=data.dataValues.web%>" class="sum" name="optionsRadios" id="web"
                required>
        
                <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Mobile<br> App</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" value="<%=data.dataValues.mobile%>" class="sum" name="optionsRadios"
                id="mobile">
             
                <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Both</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" value="<%=data.dataValues.both%>" class="sum" name="optionsRadios"
                id="both">

                <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <input type="button" name="next" class="next Login Typen" value="Save and Continue"
      style="background-color: #F06824;" />



  </fieldset>


  <fieldset>
    <div class="previous title_text">
      <a href="#_" class="">
        <i class="fa fa-angle-left"></i> Back </a>
      <h2>Login Type</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Email Login</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" value="<%=data.dataValues.email%>" class="sum" name="login"
                id="emaillogin">
              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Via Social Networks</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" name="login" id="via social Networks"
                value="<%=data.dataValues.viaSocial%>" class="sum">
              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">2 Step Authentications</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" name="login" value="<%=data.dataValues.twoStep%>" class="sum"
                id="2 step Authentications">
              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">No Signup Required</span>

          <div class="radio">
            <label>
              <input type="radio" name="login" id="No Signup Required" class="sum"
                value="<%=data.dataValues.NoSignUp%>">

              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
    </div>

    <input type="button" name="next" class="next btn_main" value="Save and Continue" />


  </fieldset>


  <fieldset>
    <div class="previous title_text">
      <a href="#_" class="">
        <i class="fa fa-angle-left"></i> Back </a>
      <h2 class="fs-title">Profile Creation</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Users & Accounts Required</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" name="user" id="user & Accounts Required" class="sum"
                value="<%=data.dataValues.accrequired%>">
              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
          <span _ngcontent-my-app-c9="" class="text">Not Required</span>
          <!---->
          <div class="radio">
            <label>
              <input type="radio" name="user" id="Not Required" class="sum"
                value="<%=data.dataValues.notrequired%>">

              <span class="indicator"></span>
            </label>
          </div>
        </div>
      </div>
    </div>
    <!-- <input type="text" name="twitter" placeholder="Twitter" />
<input type="text" name="facebook" placeholder="Facebook" />
<input type="text" name="gplus" placeholder="Google Plus" /> -->
    <!-- <input type="button" name="previous" class="previous action-button-previous" value="Previous" /> -->
    <input type="button" name="next" class="next btn_main" value="Save and Continue" />


  </fieldset>


  <fieldset>
    <div class="previous title_text">
      <a href="#_" class="">
        <i class="fa fa-angle-left"></i> Back </a>
      <h2>Feature Types</h2>
    </div>
    <h3 class="fs-subtitle">Please choose required features below:</h3>
    <div class="main_list_bx">
      <ul class="check_ul">
        <h4>Enough for MVP</h4>
        <li>
          <div class="form-group">
            <input type="checkbox" id="User Feed" class="sum" value="<%=data.dataValues.userFeed%>"
              name="userFeed">
            <label for="User Feed">User Feed <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Search" class="sum" value="<%=data.dataValues.search%>"
              name="search">
            <label for="Search">Search <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" class="sum" id="Messaging and User Engagement"
              value="<%=data.dataValues.messUserMan%>" name="messUserMan">
            <label for="Messaging and User Engagement">Messaging and User Engagement <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Payment and eCommerce" class="sum"
              value="<%=data.dataValues.payEcommerce%>" name="payEcommerce">
            <label for="Payment and eCommerce">Payment and eCommerce <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" class="sum" value=" <%=data.dataValues.userGenerated%>"
              name="userGenerated" id="User-Generated Content">
            <label for="User-Generated Content">User-Generated Content <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Booking" class="sum" value="<%=data.dataValues.Booking%>"
              name="Booking">
            <label for="Booking">Booking <span>

              </span></label>
          </div>
        </li>
      </ul>
      <ul class="check_ul">
        <h4>Additional features</h4>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Push Notifications" class="sum" value="<%=data.dataValues.pushNoti%>"
              name="pushNoti">
            <label for="Push Notifications">Push Notifications <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Rating & Reviews" class="sum"
              value="<%=data.dataValues.RatingReview%>" name="RatingReview">
            <label for="Rating & Reviews">Rating & Reviews <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Rewards and Deals" class="sum"
              value="<%=data.dataValues.RewardDeal%>" name="RewardDeal">
            <label for="Rewards and Deals">Rewards & Deals <span>

              </span></label>
          </div>
        </li>
        <li>
          <div class="form-group">
            <input type="checkbox" id="Category and Filters" class="sum"
              value="<%=data.dataValues.categoryFilter%>" name="categoryFilter">
            <label for="Category and Filters">Category & Filters <span>

              </span></label>
          </div>
        </li>
      </ul>
      <!-- <span id="payment-total" style="text-decoration:underline;">0</span> -->
      <!-- <input id="input" type="text" value="0"/> -->
    </div>

    <input type="button" class="next btn_main" value="Save and Continue" />
  </fieldset>


  <fieldset>
    <h2 class="fs-title">Submit project</h2>
    <h3 class="fs-subtitle">Fill in your credentials to authorize submission</h3>
    <input type="text" name="email" placeholder="Username" />
    <input type="password" name="password" placeholder="Password" />
    <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
    <!-- <input type="submit" name="submit" class="submit btn_main" value="Submit" /> -->
    <a href=""> <button type="submit" class="submit btn_main">Send</button> </a>
  </fieldset>




        <!-- progressbar -->
              <!-- <ul id="progressbar">
            <li class="active"></li>
             <li></li>
             <li></li>
             <li></li>
        </ul> -->
