<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Applify</title>
  <meta content="" name="description">
  <meta content="" name="keywords">
  <!-- Favicons -->
  <link href="img/favicon.ico" rel="icon">
  <link href="img/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,400&display=swap"
    rel="stylesheet">
  <link
    href="https://www.dafontfree.net/embed/bWV0cm9wb2xpcy1yZWd1bGFyJmRhdGEvNTIvbS8xNTY4MDAvTWV0cm9wb2xpcy1SZWd1bGFyLm90Zg"
    rel="stylesheet" type="text/css" />
  <!-- Vendor CSS Files -->
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- Template Main CSS File -->
  <link href="/public/css/style.css" rel="stylesheet">
</head>

<body>
  <div class="calculator-main text-center">
    <nav role="navigation" class="navbar pt10 navbar-custom navbar-fixed-top" id="navbar">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/site">
            <img class="rs-logo rs-hide" itemprop="image" src="/public/images/logo.png">
            <!-- <img class="mobilelogo-show rs-show" itemprop="image" src="/themes/adminre/../../design/calculator/img/vp-logo.png" alt="VenturePact Logo" width="39" height="26" data-pin-nopin="true"> -->
          </a>
          <ul class="nav navbar-nav navbar-right mt10 pull-right">
            <li>
              <label class="head-prize">
                <small>Rough Estimate</small>
                <br>
                <input type="" id="total"
                  style="margin-top: -10px; width: 40px; height:20px ;text-align: center; background-color: #F06824; border: none;color: white;">hours
                <!-- </input> -->
              </label>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="main_calculator">
      <div class="container">
        <div class="row main_row">
          <div class="col-md-12">
            <form id="msform" novalidate>
              <!-- First page   -->
              <fieldset>
                <div class="next main_div_row_one cost_steps">

                  <div class="row row_bx">
                    <div class="row ">
                      <div class="col-md-12">
                        <h2>Scratch or Readymade Apps?</h2>
                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 A" id="1">
                      <div class="exist_business_bx clr_black A" id="1">
                        <h3> Readymade (save upto 40% of the cost) </h3>
                        <p> Uber, Intagram, Airbnb, Whatsapp etc. </p>
                        <img src="/public/images/mobile.png" alt="" id="1" class="A">

                      </div>
                    </div>
                    <div class="col-lg-6 col-md-12 A" id="2">
                      <div class="exist_business_bx clr_orange A" id="2">
                        <h3> Custom App </h3>
                        <p> Cars & Transport, Social networking, Travel, <br> Health & Beauty etc. </p>
                        <img src="/public/images/cate2.png" alt="" id="2" class="A">
                      </div>
                    </div>
                  </div>
                </div>

              </fieldset>


              <!-- Image call dynamic -->

              <fieldset>

                <div class="row previous">
                  <div class="col-md-12">
                    <div class=" title_text">
                      <a href="#_" class="">
                        <i class="fa fa-angle-left"></i> Back </a>
                      <h2>Industry or Category</h2>
                    </div>
                  </div>
                </div>
                <% for(var i=0; i < order; i++){ %>

                  <div class="next col-lg-3 col-md-4">
                    <span class="app_logo">
                      <img src="<%=imgs%>" alt="" id="<%=imgId%>">

                    </span>
                  </div>

                  <% } %>

                    <div class="col-lg-3 col-md-4">
                      <span class="app_logo add_new btn_stroke button" data-modal="modalOne">+ Add new category</span>
                    </div>


                    <div id="modalOne" class="modal">
                      <div class="modal-content">
                        <div class="contact-form">
                          <a class="close">&times;</a>
                          <!-- <form action="/"> -->
                          <h2>Add your category</h2>
                          <div>
                            <input class="fname" type="text" name="name" id="names" placeholder="Full name" required />
                            <input type="text" name="email" id="emails" placeholder="Email" required />
                            <!-- <input type="text" name="name" placeholder="Phone number" /> -->
                            <input type="text" name="category" id="categorys" placeholder="Category" required />
                          </div>

                          <button class="submits" type="submit" href="/">Submit</button>
                          <!-- </form> -->
                        </div>
                      </div>
                    </div>



              </fieldset>


              <fieldset>
                <div class="previous title_text">

                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back
                  </a>
                  <h2>Platform</h2>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Web <br>App</span>

                      <div class="radio">
                        <label>
                          <input type="radio" class="firstPage" name="optionsRadios" id="web" required>

                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Mobile<br> App</span>

                      <div class="radio">
                        <label>
                          <input type="radio" class="firstPage" name="optionsRadios" id="mobile">

                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-4">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Both</span>

                      <div class="radio">
                        <label>
                          <input type="radio" class="firstPage" name="optionsRadios" id="both">

                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <input type="button" id="btn1" name="next" class="next Login Typen" value="Save and Continue"
                  style="background-color: #F06824;" disabled />



              </fieldset>


              <fieldset>
                <div class="previous title_text">
                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back </a>
                  <h2>Login Type</h2>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Email Login</span>

                      <div class="radio">
                        <label>
                          <input type="radio" value="<%=data.dataValues.email%>" class="sum secondPage" name="login"
                            id="emaillogin">
                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Via Social Networks</span>

                      <div class="radio">
                        <label>
                          <input type="radio" name="login" id="via social Networks"
                            value="<%=data.dataValues.viaSocial%>" class="sum secondPage">
                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">2 Step Authentications</span>

                      <div class="radio">
                        <label>
                          <input type="radio" name="login" value="<%=data.dataValues.twoStep%>" class="sum secondPage "
                            id="2 step Authentications">
                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">No Signup Required</span>

                      <div class="radio">
                        <label>
                          <input type="radio" name="login" id="No Signup Required" class="sum secondPage"
                            value="<%=data.dataValues.NoSignUp%>">

                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="button" id="btn2" name="next" class="next btn_main" value="Save and Continue" disabled />


              </fieldset>


              <fieldset>
                <div class="previous title_text">
                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back </a>
                  <h2 class="fs-title">Profile Creation</h2>
                </div>
                <div class="row">
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Users & Accounts Required</span>

                      <div class="radio">
                        <label>
                          <input type="radio" name="user" id="user & Accounts Required" class="sum thirdPage"
                            value="<%=data.dataValues.accrequired%>">
                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                  <div class="col-lg-6">
                    <div _ngcontent-my-app-c9="" class="option mat-ripple ng-star-inserted" mat-ripple="">
                      <span _ngcontent-my-app-c9="" class="text">Not Required</span>

                      <div class="radio">
                        <label>
                          <input type="radio" name="user" id="Not Required" class="sum thirdPage"
                            value="<%=data.dataValues.notrequired%>">

                          <span class="indicator"></span>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>

                <input type="button" id="btn3" name="next" class="next btn_main" value="Save and Continue" disabled />


              </fieldset>


              <fieldset>
                <div class="previous title_text">
                  <a href="#_" class="">
                    <i class="fa fa-angle-left"></i> Back </a>
                  <h2>Feature Types</h2>
                </div>
                <h3 class="fs-subtitle">Please choose required features below:</h3>
                <div class="main_list_bx">
                  <ul class="check_ul">
                    <h4>Enough for MVP</h4>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="User Feed" class="sum fifthPage"
                          value="<%=data.dataValues.userFeed%>" name="userFeed">
                        <label for="User Feed">User Feed <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Search" class="sum fifthPage" value="<%=data.dataValues.search%>"
                          name="search">
                        <label for="Search">Search <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" class="sum fifthPage" id="Messaging and User Engagement"
                          value="<%=data.dataValues.messUserMan%>" name="messUserMan">
                        <label for="Messaging and User Engagement">Messaging and User Engagement <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Payment and eCommerce" class="sum fifthPage"
                          value="<%=data.dataValues.payEcommerce%>" name="payEcommerce">
                        <label for="Payment and eCommerce">Payment and eCommerce <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" class="sum fifthPage" value=" <%=data.dataValues.userGenerated%>"
                          name="userGenerated" id="User-Generated Content">
                        <label for="User-Generated Content">User-Generated Content <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Booking" class="sum fifthPage" value="<%=data.dataValues.Booking%>"
                          name="Booking">
                        <label for="Booking">Booking <span>

                          </span></label>
                      </div>
                    </li>
                  </ul>
                  <ul class="check_ul">
                    <h4>Additional features</h4>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Push Notifications" class="sum fifthPage"
                          value="<%=data.dataValues.pushNoti%>" name="pushNoti">
                        <label for="Push Notifications">Push Notifications <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Rating & Reviews" class="sum fifthPage"
                          value="<%=data.dataValues.RatingReview%>" name="RatingReview">
                        <label for="Rating & Reviews">Rating & Reviews <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Rewards and Deals" class="sum fifthPage"
                          value="<%=data.dataValues.RewardDeal%>" name="RewardDeal">
                        <label for="Rewards and Deals">Rewards & Deals <span>

                          </span></label>
                      </div>
                    </li>
                    <li>
                      <div class="form-group">
                        <input type="checkbox" id="Category and Filters" class="sum fifthPage"
                          value="<%=data.dataValues.categoryFilter%>" name="categoryFilter">
                        <label for="Category and Filters">Category & Filters <span>

                          </span></label>
                      </div>
                    </li>
                  </ul>

                </div>

                <input type="button" id="btn4" class="next btn_main" value="Save and Continue" disabled />
              </fieldset>


              <fieldset>
                <h2 class="fs-title">Submit project</h2>
                <h3 class="fs-subtitle">Fill in your credentials to authorize submission</h3>
                <input type="text" name="name" placeholder="Enter your name" class="laststep" id="name" />
                <input type="text" name="email" placeholder="Enter your email" class="laststep" id="email" />
                <input type="button" name="previous" class="previous action-button-previous" value="Previous" />
                <button type="submit" class="submit btn_main">Send</button>
              </fieldset>



            </form>
          </div>
        </div>
      </div>
    </section>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- For button not work when we not selected any value -->
    <script>
      // This is for multiselect values

      $('#btn4').prop("disabled", true);
      $('input:checkbox').click(function () {
        if ($(this).is(':checked')) {
          $('#btn4').prop("disabled", false);
        } else {
          if ($('.fifthPage').filter(':checked').length < 1) {
            $('#btn4').attr('disabled', true);
          }
        }
      });

      // var inputElems = document.getElementsByClassName("fifthPage");
      // for (var i = inputElems.length - 1; i >= 0; --i) {
      //   var elem = inputElems[i];
      //   elem.onchange = function () {
      //     document.getElementById("btn4").removeAttribute("disabled");
      //   };
      // }


      // This is for login type radio button
      var inputElems = document.getElementsByName("login");
      for (var i = inputElems.length - 1; i >= 0; --i) {
        var elem = inputElems[i];
        elem.onchange = function () {
          document.getElementById("btn2").removeAttribute("disabled");
        };
      }
      //  This is for user account required or not radio button

      var inputElems = document.getElementsByName("user");
      for (var i = inputElems.length - 1; i >= 0; --i) {
        var elem = inputElems[i];
        elem.onchange = function () {
          document.getElementById("btn3").removeAttribute("disabled");
        };
      }

      // This is for web mobile and both radio button
      var inputElems = document.getElementsByName("optionsRadios");
      for (var i = inputElems.length - 1; i >= 0; --i) {
        var elem = inputElems[i];
        elem.onchange = function () {
          document.getElementById("btn1").removeAttribute("disabled");
        };
      }



    </script>

    <!-- This is for pop up -->
    <script>
      let modalBtns = [...document.querySelectorAll(".button")];
      modalBtns.forEach(function (btn) {
        btn.onclick = function () {
          let modal = btn.getAttribute("data-modal");
          document.getElementById(modal).style.display = "block";
        };
      });
      let closeBtns = [...document.querySelectorAll(".close")];
      closeBtns.forEach(function (btn) {
        btn.onclick = function () {
          let modal = btn.closest(".modal");
          modal.style.display = "none";
        };
      });
      window.onclick = function (event) {
        if (event.target.className === "modal") {
          event.target.style.display = "none";
        }
      };
    </script>

    <!-- This is for add cost, send id to router, user selected data in array and after submit send to database  -->
    <script>
      // Function for add the cost
      $(document).ready(function () {
        function updateSum() {
          var total = 0;
          $(".sum:checked").each(function (i, n) { total += parseInt($(n).val()); })
          $("#total").val(total);
        }
        // run the update on every checkbox change and on startup
        $("input.sum").change(updateSum);
        updateSum();
      })


      //

      // $(".A").click(function () {
      //   let id=event.target.id;
      //   $.get("http://localhost:8080/"+id, function (data, status) {
      //   alert(data)
      //   });
      // });

      //Call the dynamic data
      $(document).ready(function () {
        $(".A").click(function () {
          // alert(event.target.id)
          // let id = (event.target.id)
          let id = 20;
          $.ajax({ 
            method: "GET",
            url: "/?id=" + id,
            // data: { id },
          })
            .done(function (msg) {
              // alert(msg)
            });
        })
      })


      //To store the user selected data in object and array inside object and after submit send to database
      var arr = {};
      arr.SelectedCategory = [];

      $(document).ready(function () {

        $(".A ").click(function () {
          arr.AppType = event.target.id
          console.log("this is apptype", arr)
        })

        $(".app_logo").click(function () {
          arr.IndustryAndCategory = event.target.id
          console.log("object", arr)
        })

        $(".firstPage").click(function () {
          if (arr.Plateform) {
            delete arr.Plateform
            arr.Plateform = event.target.id
          }
          else {
            arr.Plateform = event.target.id
          }
        })

        $(".secondPage").click(function () {
          if (!arr.LoginType) {
            arr.LoginType = event.target.id
          }
          else {
            delete arr.loginType
            arr.LoginType = event.target.id
          }
        })

        $(".thirdPage").click(function () {
          if (!arr.ProfileCreation) {
            arr.ProfileCreation = event.target.id
          }
          else {
            delete arr.ProfileCreation
            arr.ProfileCreation = event.target.id
          }

        })

        $(".fifthPage").change(function () {
          // arr.SelectedCategory.push(event.target.id)
          arr.SelectedCategory = $('.fifthPage:checked').toArray().map(x => x.name);
          console.log("The last step", arr.SelectedCategory)
        })

        $(".laststep").change(function () {

          var name = $("#name").val();
          var email = $("#email").val();
          arr.name = name
          arr.email = email
        })

      })



    </script>

    <script type="text/javascript">
    </script>

    <!-- This is for hide and show the next and previous page -->
    <script>
      //jQuery time
      var current_fs, next_fs, previous_fs; //fieldsets
      var left, opacity, scale; //fieldset properties which we will animate
      var animating; //flag to prevent quick multi-click glitches
      $(".next").click(function () {
        if (animating) return false;
        animating = true;
        current_fs = $(this).parent();
        next_fs = $(this).parent().next();
        //activate next step on progressbar using the index of next_fs
        $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");
        //show the next fieldset
        next_fs.show();
        //hide the current fieldset with style
        current_fs.animate({
          opacity: 0
        }, {
          step: function (now, mx) {
            //as the opacity of current_fs reduces to 0 - stored in "now"
            //1. scale current_fs down to 80%
            scale = 1 - (1 - now) * 0.2;
            //2. bring next_fs from the right(50%)
            left = (now * 50) + "%";
            //3. increase opacity of next_fs to 1 as it moves in
            opacity = 1 - now;
            current_fs.css({
              'transform': 'scale(' + scale + ')',
              'position': 'absolute'
            });
            next_fs.css({
              'left': left,
              'opacity': opacity
            });
          },
          duration: 800,
          complete: function () {
            current_fs.hide();
            animating = false;
          },
          //this comes from the custom easing plugin
          easing: 'easeInOutBack'
        });
      });
      $(".previous").click(function () {
        if (animating) return false;
        animating = true;
        current_fs = $(this).parent();
        previous_fs = $(this).parent().prev();
        //de-activate current step on progressbar
        $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");
        //show the previous fieldset
        previous_fs.show();
        //hide the current fieldset with style
        current_fs.animate({
          opacity: 0
        }, {
          step: function (now, mx) {
            //as the opacity of current_fs reduces to 0 - stored in "now"
            //1. scale previous_fs from 80% to 100%
            scale = 0.8 + (1 - now) * 0.2;
            //2. take current_fs to the right(50%) - from 0%
            left = ((1 - now) * 50) + "%";
            //3. increase opacity of previous_fs to 1 as it moves in
            opacity = 1 - now;
            current_fs.css({
              'left': left
            });
            previous_fs.css({
              'transform': 'scale(' + scale + ')',
              'opacity': opacity
            });
          },
          duration: 800,
          complete: function () {
            current_fs.hide();
            animating = false;
          },
          //this comes from the custom easing plugin
          easing: 'easeInOutBack'
        });
      });
      $(".submits").click(function () {
        var name = $("#names").val();
        var email = $("#emails").val();
        var category = $("#categorys").val();

        //This is for send the add category data but not work
        $.ajax({
          method: "POST",
          url: "http://localhost:8081/category/addcategory",
          data: { name, email, category },
        })
          .done(function (msg) {
            alert("Data send seccussfull.We can connect with you with in 2 days.Thanks for using this application")
            $("#names").val('')
            $("#emails").val('')
            $("#categorys").val('')
          });
      })
      $(".submit").click(function () {
        let data = JSON.stringify(arr)
        arr = JSON.parse(JSON.stringify(arr));
        $.ajax({
          method: "POST",
          url: "http://localhost:8081/userDetail/adduserDetail",
          data: arr,
        })
          .done(function (msg) {
            alert("Data send seccussfull.We can connect with you with in 2 days.Thanks for using this application")
            $("#name").val('')
            $("#email").val('')
          });
      })
    </script>
</body>

</html>